.heading{
    color: red;
    font-weight: 600;
}
.image{
    width: 300px;
}
.space-bottom{
    margin-bottom: 10px;

}
.label{
    font-size: 18px;
    display: inline-block;
    width: 175px;
}
.input{
    width: 165px;
    font-size: 14px;
}
.icon{
    width: 21px;
    margin-left: 6px;
    cursor: pointer;
}